* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

body {
  background: #95b9c9;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 30px;
}

#header {
  padding-block: 15px;
  background: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  nav {
    display: flex;
    gap: 45px;

    a {
      text-decoration: none;
      color: rgba(0, 0, 0, 1);
      font-weight: 500;
      font-size: 20px;
    }

    a:hover {
      color: rgba(189, 29, 29, 1);
    }
  }
}

#admin {
  padding-block: 35px;
}

.admin-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;

  h1 {
    color: rgba(51, 51, 45, 1);
    font-weight: 500;
    font-size: 32px;
    letter-spacing: 10%;
  }
}

.admin {
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;
  justify-content: space-between;

  .inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;

    input {
      border: none;
      padding-left: 15px;
      font-size: 20px;
    }

    input::placeholder {
      font-weight: 500;
      font-size: 20px;
      letter-spacing: 10%;
      padding-left: 15px;
    }

    .file {
      width: 365px;
      height: 67px;
      border-radius: 10px;
    }
    .name,
    .price {
      width: 549px;
      height: 67px;
      border-radius: 10px;
    }

    button {
      color: rgba(255, 255, 255, 1);
      border: none;
      background: rgba(221, 170, 39, 1);
      width: 220px;
      height: 70px;
      border-radius: 10px;
      font-weight: 500;
      font-size: 30px;
      letter-spacing: 3%;
    }
  }

  .photo {
    background: rgba(217, 217, 217, 1);
    width: 477px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      color: rgba(0, 0, 0, 1);
      font-weight: 400;
      font-size: 34px;
      letter-spacing: 0%;
    }
  }
}

#menu {
  padding-block: 30px;
}

.menu-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;

  h1 {
    color: rgba(51, 51, 45, 1);
    font-weight: 500;
    font-size: 32px;
    letter-spacing: 10%;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;

  .box {
    background: #fff;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;

    img {
      object-fit: cover;
      width: 280px;
      height: 160px;
    }

    .title {
      display: flex;
      flex-direction: column;
      gap: 12px;

      p {
        font-weight: 500;
        font-size: 22px;
        letter-spacing: 3%;
      }

      .price {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          font-weight: 500;
          font-size: 22px;
          letter-spacing: 3%;
        }

        button {
          background: rgba(221, 170, 39, 1);
          border: none;
          width: 140px;
          height: 40px;
          border-radius: 10px;
          font-weight: 500;
          font-size: 18px;
          letter-spacing: 3%;
        }
      }
    }
    .icons {
      display: none;
      flex-direction: column;
      gap: 10px;
      position: absolute;
      right: -40px;
      ion-icon:first-child {
        font-size: 20px;
        background: red;
        padding: 10px;
        border-radius: 10px;
      }
      ion-icon:last-child {
        font-size: 20px;
        background: green;
        padding: 10px;
        border-radius: 10px;
      }
    }
  }
}

.modal-window {
  backdrop-filter: blur(3px);
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #000000bb;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  input {
    border: none;
    width: 280px;
    height: 40px;
    background: rgb(82, 115, 133);
    color: #000000bb;
    padding-left: 15px;
    font-size: 17px;
  }
  input::placeholder {
    color: black;
    font-size: 17px;
  }

  button {
    width: 100px;
    height: 30px;
    background: thistle;
    border: none;
    color: rgb(3, 196, 7);
    font-size: 17px;
    font-weight: 500;
  }

  .closeIcon {
    font-size: 40px;
    color: #95b9c9;
    position: absolute;
    right: 530px;
    top: 240px;
  }
}

#order {
  padding-block: 30px;
}

.order-title {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  h1 {
    color: rgba(51, 51, 45, 1);
    font-weight: 500;
    font-size: 32px;
    letter-spacing: 10%;
  }
}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .order-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    gap: 85px;
    background: rgba(217, 217, 217, 1);
    width: 850px;
    border-radius: 10px;

    img {
      object-fit: cover;
      width: 220px;
      height: 110px;
    }

    .order-menu {
      display: flex;
      flex-direction: column;
      gap: 15px;

      h2 {
        font-weight: 500;
        font-size: 30px;
        letter-spacing: 3%;
      }

      p {
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 3%;
      }
    }

    .order-action {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;

      button {
        width: 160px;
        height: 40px;
        background: rgba(189, 29, 29, 1);
        color: rgba(255, 255, 255, 1);
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 3%;
        border: none;
        border-radius: 10px;
      }

      nav {
        display: flex;
        align-items: center;
        gap: 15px;

        p {
          font-weight: 500;
          font-size: 34px;
          letter-spacing: 3%;
          background: rgba(221, 170, 39, 1);
          width: 58px;
          height: 34px;
          /* padding: 10px; */
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        h3 {
          font-weight: 500;
          font-size: 22px;
          letter-spacing: 3%;
        }
      }
    }
  }
  .order-btn {
    display: flex;
    padding-left: 620px;

    button {
      background: rgba(32, 149, 58, 1);
      width: 230px;
      height: 60px;
      border: none;
      border-radius: 10px;
      color: rgba(255, 255, 255, 1);
      font-weight: 500;
      font-size: 34px;
      letter-spacing: 3%;
    }
  }
}
